## Strings, continued

Strings are immutable sequences of unicode code points:

In [82]:
string0 = 'Taj Mahal is beautiful'
display(String0 , type(String0))

'Taj Mahal is beautiful'

str

In [81]:
String1 = "Taj Mahal is beautiful"
display(String1, type(String1))

'Taj Mahal is beautiful'

str

In [79]:
String2 = '''Taj Mahal
is
beautiful'''
display(String2, type(String2))

'Taj Mahal\nis\nbeautiful'

str

String Indexing and Slicing are similar to Lists which was explained in detail earlier.

In [80]:
display(String0[4], String0[4:])

'M'

'Mahal is beautiful'

### Built-in Functions

`find( )` function returns the index value of the given data that is to found in the string. If it is not found it returns `-1`. Remember to not confuse the returned -1 for reverse indexing value.

In [10]:
String0.find('al')

7

In [11]:
String0.find('am')

-1

The index value returned is the index of the first element in the input data.

In [12]:
String0[7]

'a'

One can also input `find( )` function between which index values it has to search.

In [13]:
String0.find('j',1)

2

In [14]:
String0.find('j',1,3)

2

`capitalize( )` is used to capitalize the first element in the string.

In [16]:
String3 = 'observe the first letter in this sentence.'
String3.capitalize()

'Observe the first letter in this sentence.'

`center( )` is used to center align the string by specifying the field width.

In [17]:
String0.center(70)

'                        Taj Mahal is beautiful                        '

One can also fill the left out spaces with any other character.

In [18]:
String0.center(70,'-')

'------------------------Taj Mahal is beautiful------------------------'

`zfill( )` is used for zero padding by specifying the field width.

In [19]:
String0.zfill(30)

'00000000Taj Mahal is beautiful'

`expandtabs( )` allows you to change the spacing of the tab character. '\t' which is by default set to 8 spaces.

In [20]:
s = 'h\te\tl\tl\to'
s

'h\te\tl\tl\to'

In [21]:
s.expandtabs(1)

'h e l l o'

In [22]:
s.expandtabs()

'h       e       l       l       o'

`index( )` works the same way as `find( )` function the only difference is find returns '-1' when the input element is not found in the string but `index( )` function throws a `ValueError`

In [26]:
String0.index('Taj')

0

In [27]:
String0.index('Mahal',0)

4

In [28]:
String0.index('Mahal',10,20)

ValueError: substring not found

`endswith( )` function is used to check if the given string ends with the particular char which is given as input.

In [30]:
"llamas".endswith('y')

False

The start and stop index values can also be specified.

In [78]:
display("llamas".endswith('as',0), "llamas".endswith('as',0,3))

True

False

`count( )` function counts the number of char in the given string. The start and the stop index can also be specified or left blank. (These are Implicit arguments which will be dealt in functions)

In [77]:
s = "alphabetical"
display(s.count('a',0), s.count('a',5,10))

3

0

`join( )` function is used add a char in between the elements of the input string.

In [37]:
'a'.join('*_-')

'*a_a-'

'*_-' is the input string and char 'a' is added in between each element

`join( )` function can also be used to convert a list into a string.

In [76]:
a = list('the quick brown fox')
b = ''.join(a)
display(a, b)

['t',
 'h',
 'e',
 ' ',
 'q',
 'u',
 'i',
 'c',
 'k',
 ' ',
 'b',
 'r',
 'o',
 'w',
 'n',
 ' ',
 'f',
 'o',
 'x']

'the quick brown fox'

Before converting it into a string `join( )` function can be used to insert any char in between the list elements.

In [40]:
c = '/'.join(a)[18:]
c

' /b/r/o/w/n/ /f/o/x'

`split( )` function is used to convert a string back to a list. Think of it as the opposite of the `join()` function.

In [41]:
d = c.split('/')
d

[' ', 'b', 'r', 'o', 'w', 'n', ' ', 'f', 'o', 'x']

In `split( )` function one can also specify the number of times you want to split the string or the number of elements the new returned list should conatin. The number of elements is always one more than the specified number this is because it is split the number of times specified.

In [42]:
e = c.split('/',3)
e, len(e)

([' ', 'b', 'r', 'o/w/n/ /f/o/x'], 4)

`lower( )` converts any capital letter to small letter.

In [43]:
s = "WHY AM I YELLING?"
s.lower()

'why am i yelling?'

`upper( )` converts any small letter to capital letter.

In [44]:
s = 'whisper'
s.upper()

'WHISPER'

`replace( )` function replaces the element with another element.

In [45]:
"green onions".replace('onions','eggs')

'green eggs'

`strip( )` function is used to delete elements from the right end and the left end which is not required.

In [46]:
f = '    hello      '

If no char is specified then it will delete all the spaces that is present in the right and left hand side of the data.

In [47]:
f.strip()

'hello'

`strip( )` function, when a char is specified then it deletes that char if it is present in the two ends of the specified string.

In [50]:
f = '***----hello---*******'

In [51]:
f.strip('*')

'----hello---'

`lstrip( )` and `rstrip( )` function have the same functionality as strip function but the only difference is `lstrip( )` deletes only towards the left side and `rstrip( )` towards the right.

In [52]:
display(f.lstrip(' *'), f.rstrip(' *'))

('----hello---*******', '***----hello---')

## Dictionaries

Dictionaries are mappings of immutable keys to mutable values.

To define a dictionary, equate a variable to { } or dict()

In [75]:
d0 = {}
d1 = dict()
display(type(d0), type(d1))

dict

dict

To assign to a `dict` you can use the `[]` operator:

In [55]:
d0['One'] = 1
d0['OneTwo'] = 12 
d0

{'One': 1, 'OneTwo': 12}

You can also retrieve values by key with the `[]` operator:

In [57]:
d0['One']

1

Two lists which are related can be merged to form a dictionary.

In [58]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

`zip( )` function is used to combine two lists

In [59]:
d2 = zip(names,numbers)
d2

The two lists are combined to form a single list and each elements are clubbed with their respective elements from the other list inside a tuple. Tuples because that is what is assigned and the value should not change.

Further, To convert the above into a dictionary. `dict( )` function is used.

In [61]:
a1 = dict(d2)
a1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

### Built-in Functions

`clear( )` function is used to erase the entire database that was created.

In [63]:
a1.clear()
a1

{}

Dictionary can also be built using loops.

In [70]:
for i in range(len(names)):
    a1[names[i]] = numbers[i]
a1

{'One': 1, 'Two': 2, 'Three': 3, 'Five': 5, 'Four': 4}

`values( )` function returns a list with all the assigned values in the dictionary.

In [71]:
a1.values()

dict_values([1, 2, 3, 5, 4])

`keys( )` function returns all the index or the keys to which contains the values that it was assigned to.

In [72]:
a1.keys()

dict_keys(['One', 'Two', 'Three', 'Five', 'Four'])

`items( )` is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used.

In [73]:
a1.items()

dict_items([('One', 1), ('Two', 2), ('Three', 3), ('Five', 5), ('Four', 4)])

`pop( )` function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

In [74]:
a2 = a1.pop('Four')
display(a1, a2)

{'One': 1, 'Two': 2, 'Three': 3, 'Five': 5}

4